{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS link -->
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <title>Document</title>
</head>
<body>
    <header>
        <section class="navbar">
            <section class="navbarleft">
                <h1>HOSPITAL MANAGEMENT SYSTEM</h1>
            </section>
            <section class="navbarright">
                <section class="navbarrightleft">
                    <ul>
                        <li><a href="#homepageid">Home</a></li>
                        <li><a href="#aboutuspageid">About</a></li>
                        <li><a href="#servicepageid">Servies</a></li>
                        <li><a href="#doctorspageid">Doctors</a></li>
                    </ul>
                </section>
                <section class="navbarrightright">
                    <section class="hamburger">
                        <span class="bar"></span>
                        <span class="bar"></span>
                        <span class="bar"></span>
                    </section>
                </section>
            </section>
        </section>
    </header>
</body>
</html>